{#
/**
 * @file
 * Two column template for the entity add/edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-project-manager-form clearfix">
  <div class="layout-region layout-region-project-manager-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="layout-region layout-region-project-manager-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-project-manager-footer">
    <div class="layout-region-project-manager-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
